nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-header-disable {
    color: var(--white-primary);
    font-family: 'Montserrat', sans-serif;

    font-size: 32px;
    font-weight: 400;
    transition: all .5s;
}

.link-header-enable {
    background-image: linear-gradient(to right,var(--red-primary), #FF7562);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 32px;
    font-weight: 400;
    transition: all .5s;
}


.link-header-disable:hover {
    background-image: linear-gradient(to right,var(--red-primary), #FF7562);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}