.menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span{
    height: 0.4rem;
    width: 100%;
    background-attachment: var(--white-default);
    border-radius: 0.2rem;
}

@media(max-width: 540px){
    
}