.sec-inicio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titulo-inicio {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--black-default);
}

@media(max-width: 1440px) {
    .titulo-inicio{
        font-size: 2.1rem;
    }
}

@media(max-width: 768px) {
    .titulo-inicio {
        font-size: 1.8rem;
    }
}

@media(max-width: 640px) {
    .titulo-inicio {
        font-size: 1.5rem;
    }
}

