.sec-inicio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titulo-inicio {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: var(--black-default);
}